@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none; /* Hide desktop navigation */
    }
    
    #hamburger-nav {
        display: flex; /* Show hamburger navigation */
        justify-content: space-between; /* Center items or adjust alignment */
        align-items: center;
        padding: 0 1rem; /* Adjust padding as needed */
    }
    
    .container {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
        width: 100%; 
        margin-bottom: 0; 
    }
    
    .menu-links {
        width: 90vw; 
        right: 5vw;
    }
    
    .parent-container, .education {
        flex-direction: column; 
        padding: 20px; 
    }
    
    .fixedbox, .box {
        width: 90%; 
        margin: 20px 0; /* Adjust margin for spacing */
    }
}


/* WebKit browsers */
::-webkit-scrollbar {
    width: 4px;
    height: 2px;
}

::-webkit-scrollbar-track {
    
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
   
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9c9c9c;
}

/* Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #9c9c9c #f1f1f1;
}
