@media screen and (max-width:1200px) {
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    .container{
        grid-template-columns: auto;
        text-align: center;
    }
}

/* WebKit browsers */
::-webkit-scrollbar {
    width: 8px;
    height: 2px;
}

::-webkit-scrollbar-track {
    
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
   
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9c9c9c;
}

/* Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #9c9c9c #f1f1f1;
}
